---
import { Image } from 'astro:assets';

const footerLinks = [
  { label: 'Home', href: '#' },
  { label: 'Solution', href: '#' },
  { label: 'Outcomes', href: '#' },
  { label: 'Company', href: '#' },
  { label: 'Resources', href: '#' },
  { label: 'Careers', href: '#' },
  { label: 'Contact Us', href: '#' },
  { label: 'Member Support', href: '#' },
];
---

<footer class="bg-gray-900 text-white py-12">

    <div class="border-tpt-8 flex flex-col md:flex-row justify-between items-center">
      <p class="text-1 text-center w-full mb-4 md:mb-12">&copy; 2025 Mediapp All rights reserved.</p>
      <div class="flex space-x-4">
       
      </div>  
    </div>
  </div>
</footer>
